#email {
    padding: 15px 13px;
    border-radius: 3px;
    border: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.contact-form * {
    margin: 8px 0;
    padding: 10px 0;
    border: none;
}

.contact-name-fields {
    margin-bottom: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.input-name {
    width: 49%;
    margin-top: 0;
}

.contact-form input::placeholder {
    padding: 10px; 
}

.content-text-area::placeholder {
    padding-left: 10px;
}

.submit-contact {
    background-color: $red;
    color: white;
    border-radius: 30px;
    margin-right: auto;
    margin-bottom: 0;
    width: 50%;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (min-width: 920px) {
    .contact-form {
        margin: auto;
        width: 60%;
    }
    .contact-name-fields {
        margin: 0;
        padding: 0;
    }
}