.blog {
    text-align: center;
    padding: 25px;
}

.blog-posts {
    margin-top: 40px;
    text-align: left;
    color: $dark-blue;
}

.date {
    color: $light-grey;
}

.author {
    color: $red;
}