.blog {
    text-align: center;
    padding: 25px;
    padding-left: 5%;
}

.blog-posts {
    margin-top: 40px;
    text-align: left;
    color: $dark-blue;
}

.date {
    color: $light-grey;
}

.author {
    color: $red;
}


.pagination {
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: 50px auto;
}

.page-number {
    margin-right: 20px;
    color: $red;
}

.page-active {
    color: $dark-blue;
}

@media screen and (min-width: 940px) {
    .blog-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .post {
        max-width: 30%;
        margin-right: 2%;
    }

    .pagination {
        max-width: 20%;
        margin: auto;
    }
    
}