.blog {
    text-align: center;
    padding: 25px;
    padding-left: 5%;
}

.blog-posts {
    margin-top: 40px;
    text-align: left;
    color: $dark-blue;
}

.date {
    color: $light-grey;
}

.author {
    color: $red;
}

@media screen and (min-width: 940px) {
    .blog-posts {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .post {
        max-width: 30%;
        margin-right: 2%;
    }
}