.lone-link {
    background-color: $red;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: 2px;
}

.lone-link:hover {
    background-color: rgb(187, 45, 59);
}

.form-submit {
    background-color: $red;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgb(187, 45, 59);
}

.feature-link {
    max-width: 50%;
    margin: auto;
    display: block;
    text-align: center;
}

@media screen and (min-width: 920px) {
    .feature-link {
        width: 20%;
        margin: auto;
        display: block;
        text-align: center;
    }
    
}