.ceo-message {
    padding: 30px;
    color: $dark-blue;
    background-color: $light-bg;
}

.signature {
    width: 40vw;
    display: inline-block;
}

.name-title {
    display: inline-block;
    width: 40vw;
}

.name {
    font-weight: 700;
}