.expertise {
    background-color: $light-bg;
    padding: 10px 20px;
    padding-left: 5%;
    color: $dark-blue;
}

.percent {
    float: right;
}

.progress-bar {
    background-color: $progress-bar;
    height: 10px;
}

.writing {
    width: 55%;
    background-color: $red;
    height: 10px;
}

.wordpress {
    width: 85%;
    background-color: $red;
    height: 10px;
}

.bootstrap {
    width: 93%;
    background-color: $red;
    height: 10px;
}

.jquery {
    width: 83%;
    background-color: $red;
    height: 10px;
}