.features {
    padding: 30px;
}

.features-title {
    text-align: center;
    text-transform: uppercase;
    color: $light-grey;
}

.feature {
    background-color: $blue-white;
    padding: 25px;
    margin-bottom: 20px;
    color: $dark-blue;
}

.feature-heading {
    font-weight: 300;
}

.feature-icon {
    fill: $dark-blue;
}

.feature-link {
    max-width: 50%;
    margin: auto;
    display: block;
    text-align: center;
}