.features {
    padding: 30px;
    padding-left: 5%;
    margin-bottom: 80px;
}

.features-title {
    text-align: center;
    text-transform: uppercase;
    color: $light-grey;
}


.feature {
    background-color: $blue-white;
    padding: 25px;
    margin-bottom: 20px;
    color: $dark-blue;
    margin-right: 3%;
}

.feature-heading {
    font-weight: 300;
}

.feature-icon {
    fill: $dark-blue;
}

@media screen and (min-width: 920px) {
    .feature-blocks {
        display: flex;
        justify-content: space-around;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 50px;
    }
    
}