.images {
    height: auto;
    max-width: 90%;
    margin: auto;
    display: block;
}

.white-dots {
    position: relative;
    width: 100%;
}

.white-dots::before {
    content: "";
    background-image: url("../../images/white-dots.png");
    background-repeat: repeat;
    position: absolute;
    top: -30px;
    left: -18px;
    width: 89%;
    height: 100%;
    z-index: -1;
}

.icon-color {
    color: $red;
    fill: $red;
    font-size: 2.5rem;
}

.text {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

.project img {
    filter: invert(1);
}