.journey {
    @include background-image("../../images/img_2.jpg", cover);
    padding: 55px 0;
    text-align: center;
    color: white;
    // margin-top: 50px;

}

.journey::before {
  @include opaque-background();
}

@media screen and (min-width: 920px) {
    .journey {
        font-size: 2.2rem;
        padding-bottom: 8rem;
    }
    
}