.more-services {
    background-image: url('../../images/img_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 10%;
    position: relative;
    z-index: 1;
}

.more-services::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}


.service {
    margin: 25px 15px;
}

.service-img-circle {
    border: 3px $red solid;
    border-radius: 40px;
    display: inline-block;
    padding: 15px;
}

.service-img {
    filter: invert(1);
    font-size: 2rem;
}

.dollar-circle {
    width: 27px;
}

@media screen and (min-width: 940px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service {
        max-width: 30%;
    }
}
