.more-services {
    @include background-image('../../images/img_2.jpg', cover);
    background-position: center;
    color: white;
    text-align: center;
    padding: 10%;
}

.more-services::before {
  @include opaque-background();
}


.service {
    margin: 25px 15px;
}

.service-img-circle {
    border: 3px $red solid;
    border-radius: 40px;
    display: inline-block;
    padding: 15px;
}

.service-img {
    filter: invert(1);
    font-size: 2rem;
}

.dollar-circle {
    width: 27px;
}

@media screen and (min-width: 940px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service {
        max-width: 30%;
    }
}
