.news {
    text-align: center;
    padding: 30px;
}

.news-slider {
    width:80%;
    margin: auto;
}


.news-content {
    color: white;
}

.news-content {
    visibility: hidden;
}

.news-description {
    width: 80%;
    margin: auto;
}

.event:hover:before {
    @include opaque-background();
    background-color: rgba(0,0,0,0.8);
    
}

.event:hover .news-content {
    visibility: visible;
}

.tns-active {
    height: 20px;
  }

  .tns-nav {
    text-align: center;
  }

  .tns-nav button {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    border-radius: 50%;
    border: none;
    background-color: gray;
  }

.news-1 {
    @include background-image('../../images/img_1.jpg', cover);
}

.news-2 {
    @include background-image('../../images/img_2.jpg', cover);
}

.news-3 {
    @include background-image('../../images/img_3.jpg', cover);
}

.event {
    height: 400px;
}