.news {
    text-align: center;
    padding: 30px;
    padding-left: 5%;
}

// .news-slider img {
//     display: inline-block;
//     width: 25%;
// }

.news-slider {

    width:80%;

    margin: auto;
}

.slide {
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 500px;
}

.news-content {
    color: white;
}

.news-content {
    visibility: hidden;
}

.news-description {
    width: 80%;
    margin: auto;
}

.event:hover:before {
    @include opaque-background();
    background-color: rgba(0,0,0,0.8);
    
}

.event:hover .news-content {
    visibility: visible;
}

.news-1 {
    @include background-image('../../images/img_1.jpg', cover);
}

.news-2 {
    @include background-image('../../images/img_2.jpg', cover);
}

.news-3 {
    @include background-image('../../images/img_3.jpg', cover);
}