.quality {
    @include background-image('../../images/hero_1.jpg', cover);
    padding: 80px 30px;
    padding-left: 5%;
    color: white;
    text-align: center;
    height: 45vh;
}

.quality::before {
  @include opaque-background();
}