
body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    line-height: 1.8rem;
}

ul {
    padding-left: 0;
    margin-top: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

button {
    border: none;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}


// Colors
$red: #dc3545;
$dark-blue: #364d59;
$blue-white: #edf7ff;
$light-grey: #ccc;
$light-bg: #f6f5f5;
$text-grey: #9aa3a6;
$links: #212529;
$progress-bar: #e9ecef;
$yellow: #ffd692;

//background image
@mixin background-image($url, $size) {
    position: relative;
    z-index: 1;
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: $size;
    background-position: center;
}

//opaque background
@mixin opaque-background {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
